In [172]:
import pandas as pd

In [173]:
df=pd.read_csv("Candidate_Result.csv")
df.head()

,S.No,Parliament Constituency,Winning Candidate,Total Votes,Margin,Party Name,State Name
0,1,Anakapalle(5),C.M.RAMESH,762069,296530,Bharatiya Janata Party,Andhra Pradesh
1,2,Rajahmundry(8),DAGGUBATI PURANDHESHWARI,726515,239139,Bharatiya Janata Party,Andhra Pradesh
2,3,Narsapuram(9),BHUPATHI RAJU SRINIVASA VARMA (B.J.P.VARMA),707343,276802,Bharatiya Janata Party,Andhra Pradesh
3,4,Arunachal West(1),KIREN RIJIJU,205417,100738,Bharatiya Janata Party,Arunachal Pradesh
4,5,Arunachal East(2),TAPIR GAO,145581,30421,Bharatiya Janata Party,Arunachal Pradesh

### Alliance

In [174]:
NDA = ["Bharatiya Janata Party","Telugu Desam","Janata Dal ","Janata Dal Secular","Shiv Sena","Lok Janshakti Party","Nationalist Congress Party","Apna Dal Soneylal","Asom Gana Parishad","Janasena Party","Rashtriya Lok Dal","AJSU Party","Hindustani Awam Morcha Secular","Sikkim Krantikari Morcha","United People's Party, Liberal"]
INDIA = ["Samajwadi Party", "Aam Aadmi Party","Communist Party of India  (Marxist", "Indian National Congress","Dravida Munnetra Kazhagam","All India Trinamool Congress","Shiv Sena Uddhav","Nationalist Congress Party Sharadchandra Pawar","Indian Union Muslim League","Jammu & Kashmir National Conference","Communist Party of India","Jharkhand Mukti Morcha","Kerala Congress","Viduthalai Chiruthaigal Katchi","Revolutionary Socialist Party","Rashtriya Janata Dal","All India Majlis-E-Ittehadul Muslimeen","Marumalarchi Dravida Munnetra Kazhagam","Kerala Congress","Rashtriya Loktantrik Party"]

In [175]:
def funct(name):
    if name in NDA:
        return "NDA"
    elif name in INDIA:
        return "INDIA"
    else:
        return "others"

In [176]:
df["Alliance"]=df["Party Name"].apply(lambda x:funct(x))

In [177]:
df["Alliance"].value_counts()

NDA       292
INDIA     234
others     17
Name: Alliance, dtype: int64

In [178]:
df.head()

,S.No,Parliament Constituency,Winning Candidate,Total Votes,Margin,Party Name,State Name,Alliance
0,1,Anakapalle(5),C.M.RAMESH,762069,296530,Bharatiya Janata Party,Andhra Pradesh,NDA
1,2,Rajahmundry(8),DAGGUBATI PURANDHESHWARI,726515,239139,Bharatiya Janata Party,Andhra Pradesh,NDA
2,3,Narsapuram(9),BHUPATHI RAJU SRINIVASA VARMA (B.J.P.VARMA),707343,276802,Bharatiya Janata Party,Andhra Pradesh,NDA
3,4,Arunachal West(1),KIREN RIJIJU,205417,100738,Bharatiya Janata Party,Arunachal Pradesh,NDA
4,5,Arunachal East(2),TAPIR GAO,145581,30421,Bharatiya Janata Party,Arunachal Pradesh,NDA

### Statewise Alliance

In [179]:
state_result=pd.crosstab(df["State Name"],df["Alliance"])
state_result.to_clipboard()

In [180]:
df[df["Alliance"]=="NDA"]["Party Name"].value_counts()

Bharatiya Janata Party            240
Telugu Desam                       16
Janata Dal                         12
Shiv Sena                           7
Lok Janshakti Party                 5
Janasena Party                      2
Janata Dal Secular                  2
Rashtriya Lok Dal                   2
Asom Gana Parishad                  1
Hindustani Awam Morcha Secular      1
Nationalist Congress Party          1
Sikkim Krantikari Morcha            1
Apna Dal Soneylal                   1
AJSU Party                          1
Name: Party Name, dtype: int64

In [181]:
df[df["State Name"]=="Andhra Pradesh"]["Alliance"].value_counts()

NDA       21
others     4
Name: Alliance, dtype: int64

In [182]:
df.head()

,S.No,Parliament Constituency,Winning Candidate,Total Votes,Margin,Party Name,State Name,Alliance
0,1,Anakapalle(5),C.M.RAMESH,762069,296530,Bharatiya Janata Party,Andhra Pradesh,NDA
1,2,Rajahmundry(8),DAGGUBATI PURANDHESHWARI,726515,239139,Bharatiya Janata Party,Andhra Pradesh,NDA
2,3,Narsapuram(9),BHUPATHI RAJU SRINIVASA VARMA (B.J.P.VARMA),707343,276802,Bharatiya Janata Party,Andhra Pradesh,NDA
3,4,Arunachal West(1),KIREN RIJIJU,205417,100738,Bharatiya Janata Party,Arunachal Pradesh,NDA
4,5,Arunachal East(2),TAPIR GAO,145581,30421,Bharatiya Janata Party,Arunachal Pradesh,NDA

### Highest majority win

In [183]:
Majority_consituency=df.sort_values("Margin",ascending=False)
Majority_consituency.drop(columns=["S.No","Winning Candidate","Total Votes","Margin","Party Name"],inplace=True)

In [184]:
Majority_consituency.drop_duplicates("State Name",inplace=True)

In [185]:
Majority_consituency

,Parliament Constituency,State Name,Alliance
135,Aska(19),Odisha,NDA
371,Jaunpur(73),Uttar Pradesh,INDIA
258,Bellary(9),Karnataka,INDIA
305,KARAULI-DHOLPUR (10),Rajasthan,INDIA
443,Valmiki Nagar (1),Bihar,NDA
477,Maval(33),Maharashtra,NDA
330,Nagarkurnool(12),Telangana,INDIA
233,East Delhi(3),NCT OF Delhi,NDA
390,Kolkata Uttar(24),West Bengal,INDIA
60,SHIMLA(4),Himachal Pradesh,NDA
41,Anand(16),Gujarat,NDA
522,Kottayam(14),Kerala Congress,INDIA
290,Outer Manipur(2),Manipur,INDIA
87,SATNA(9),Madhya Pradesh,NDA
294,Gurdaspur(1),Punjab,INDIA
534,Giridih(6),Jharkhand,NDA
530,Sikkim(1),Sikkim,NDA
487,Rajampet(24),Andhra Pradesh,others
267,Palakkad(8),Kerala,INDIA
55,GURGAON(9),Haryana,NDA
511,VILUPPURAM(13),Tamil Nadu,INDIA
526,MIZORAM(1),Mizoram,others
198,SURGUJA(1),Chhattisgarh,NDA
540,Daman & Diu (1),Dadra & Nagar Haveli and Daman & Diu,others
151,Tripura West(1),Tripura,NDA
519,Kokrajhar (1),Assam,others
292,Nagaland(1),Nagaland,INDIA
525,Shillong(1),Meghalaya,others
219,Nainital-Udhamsingh Nagar(4),Uttarakhand,NDA
4,Arunachal East(2),Arunachal Pradesh,NDA
518,ANANTNAG-RAJOURI(3),Jammu and Kashmir,INDIA
542,Ladakh(1),Ladakh,others
337,Lakshadweep(1),Lakshadweep,INDIA
336,Chandigarh(1),Chandigarh,INDIA
229,Andaman & Nicobar Islands(1),Andaman & Nicobar Islands,NDA
338,PUDUCHERRY(1),Puducherry,INDIA
246,South Goa(2),Goa,INDIA

In [186]:
df.head()

,S.No,Parliament Constituency,Winning Candidate,Total Votes,Margin,Party Name,State Name,Alliance
0,1,Anakapalle(5),C.M.RAMESH,762069,296530,Bharatiya Janata Party,Andhra Pradesh,NDA
1,2,Rajahmundry(8),DAGGUBATI PURANDHESHWARI,726515,239139,Bharatiya Janata Party,Andhra Pradesh,NDA
2,3,Narsapuram(9),BHUPATHI RAJU SRINIVASA VARMA (B.J.P.VARMA),707343,276802,Bharatiya Janata Party,Andhra Pradesh,NDA
3,4,Arunachal West(1),KIREN RIJIJU,205417,100738,Bharatiya Janata Party,Arunachal Pradesh,NDA
4,5,Arunachal East(2),TAPIR GAO,145581,30421,Bharatiya Janata Party,Arunachal Pradesh,NDA

In [187]:
df.to_csv('Sample.csv',index=False)

### State most number of seats

In [201]:
Total_seats=df.groupby("State Name")["Alliance"].count()

In [202]:
Total_seats

State Name
Andaman & Nicobar Islands                1
Andhra Pradesh                          25
Arunachal Pradesh                        2
Assam                                   14
Bihar                                   40
Chandigarh                               1
Chhattisgarh                            11
Dadra & Nagar Haveli and Daman & Diu     2
Goa                                      2
Gujarat                                 26
Haryana                                 10
Himachal Pradesh                         4
Jammu and Kashmir                        5
Jharkhand                               14
Karnataka                               28
Kerala                                  19
Kerala Congress                          1
Ladakh                                   1
Lakshadweep                              1
Madhya Pradesh                          29
Maharashtra                             48
Manipur                                  2
Meghalaya                                2
Mizoram                                  1
NCT OF Delhi                             7
Nagaland                                 1
Odisha                                  21
Puducherry                               1
Punjab                                  13
Rajasthan                               25
Sikkim                                   1
Tamil Nadu                              39
Telangana                               17
Tripura                                  2
Uttar Pradesh                           80
Uttarakhand                              5
West Bengal                             42
Name: Alliance, dtype: int64

In [203]:
Total_seats=Total_seats.to_frame().reset_index()

In [208]:
Total_seats.iloc[Total_seats["Alliance"].idxmax()]

State Name    Uttar Pradesh
Alliance                 80
Name: 34, dtype: object

### State with most NDA seats

In [211]:
NDA_seats=df[df["Alliance"]=="NDA"].groupby("State Name")["Alliance"].count()

In [212]:
NDA_seats

State Name
Andaman & Nicobar Islands                1
Andhra Pradesh                          21
Arunachal Pradesh                        2
Assam                                   10
Bihar                                   30
Chhattisgarh                            10
Dadra & Nagar Haveli and Daman & Diu     1
Goa                                      1
Gujarat                                 25
Haryana                                  5
Himachal Pradesh                         4
Jammu and Kashmir                        2
Jharkhand                                9
Karnataka                               19
Kerala                                   1
Madhya Pradesh                          29
Maharashtra                             17
NCT OF Delhi                             7
Odisha                                  20
Rajasthan                               14
Sikkim                                   1
Telangana                                8
Tripura                                  2
Uttar Pradesh                           36
Uttarakhand                              5
West Bengal                             12
Name: Alliance, dtype: int64

In [214]:
NDA_seats=NDA_seats.to_frame().reset_index()

In [215]:
NDA_seats.iloc[NDA_seats["Alliance"].idxmax()]

State Name    Uttar Pradesh
Alliance                 36
Name: 23, dtype: object

### State with most INDIA seats

In [216]:
INDIA_seats=df[df["Alliance"]=="INDIA"].groupby("State Name")["Alliance"].count()

In [217]:
INDIA_seats

State Name
Assam                 3
Bihar                 9
Chandigarh            1
Chhattisgarh          1
Goa                   1
Gujarat               1
Haryana               5
Jammu and Kashmir     2
Jharkhand             5
Karnataka             9
Kerala               18
Kerala Congress       1
Lakshadweep           1
Maharashtra          30
Manipur               2
Meghalaya             1
Nagaland              1
Odisha                1
Puducherry            1
Punjab               10
Rajasthan            10
Tamil Nadu           39
Telangana             9
Uttar Pradesh        43
West Bengal          30
Name: Alliance, dtype: int64

In [219]:
INDIA_seats=INDIA_seats.to_frame().reset_index()

In [221]:
INDIA_seats.iloc[INDIA_seats["Alliance"].idxmax()]

State Name    Uttar Pradesh
Alliance                 43
Name: 23, dtype: object